body{
    font-size:25px;
    background-color: #AFDDE5;
    color:#024950;
    padding:10px 40px 20px;
    
}
 
.headings{
    
    font-family:'Times New Roman', Times, serif;
    
}

.headings.main {
    color:  #0a597a;
    
    font-weight:900;
    font-family: 'Courier New', Courier, monospace;
    border:8px dashed white;
    width:fit-content;
    text-align:center;
    margin:0 auto;
    margin-bottom:40px;
    padding:15px;
    border-bottom:10px double;
    
     
   
}
.headings.sub{
    color:#0FA4AF;
    font-weight:500;

}
 
#home{
    font-size:23px;
    font-weight:600;
    font-family:'Courier New', Courier, monospace;
    text-align:center;
    width:fit-content;
    margin:20px auto 40px;
    display:block;  
    border: 10px solid  #964734;
    border-bottom:8px double #964734;
    border-top:8px double #964734; ;
    background-color: #f2fda2;
    padding:10px;
}
#home,li a{
    text-decoration: none;
    color:#964734;

}
 .ul-index{
    width: fit-content;
    list-style: none;
    display:flex;
    margin:0 auto;
    
 }

.ul-index li{
    margin :20px;
    border: 15px solid  #964734;
    border-bottom:10px double #964734;
    border-top:10px double #964734; ;
    background-color: #f2fda2;
    padding:10px;
    border-radius: 8px;
    
 }
 strong{
    color:rgb(0, 0, 0);
 }
img{
    height:auto;
    border:4px solid black; 

}

li:hover{
 border-style:outset;
 border: 10px solid  #e5c185;
}
 