body{
    font-size:25px;
    background-color: #AFDDE5;
    color:#024950;
}
.headings{
    
    font-family:'Times New Roman', Times, serif;
    
}

.headings.main{
    color:  #0a597a;
    
    font-weight:900;
    font-family: 'Courier New', Courier, monospace;
   
}
.headings.sub{
    color:#0FA4AF;
    font-weight:500;

}
 
#home{
    font-size:23px;
    font-weight:600;
    font-family:'Courier New', Courier, monospace;
    text-align:center;
    color:#964734;
}
li a{
    color:#964734;
}
 
 strong{
    color:rgb(0, 0, 0);
 }
img{
    height:auto;
}